# leanote
NOTEBOOK= #title of the notebook
EMAIL=
PWD=
LEANOTE_HOST= #scheme host dans uri endpoint no ending slash

# Wallabag
## Declare your application
CLIENT_ID=
CLIENT_SECRET=
## Declare which user is running the application
USERNAME=
PASSWORD=
WALLABAG_HOST= #scheme host short no ending slash
